*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* trazendo a fonte */
    font-family: "Quicksand";
    font-family: "Quicksand", sans-serif;
    font-size: 12px;

    border: solid 1px #c75296;;
}

/* Layout APP */
.container-pai {
    width: 200px;
    height: 200px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Configurações dos botões*/

.container-button {
    width: 160px;
    padding: 5px;


    /* Flexbox */
    display: flex;
    justify-content: space-evenly;
}
.btn {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;

}

/* Desafio cabeçalho */

/* Desafio rodapé*/